body {
    width: 100vw; 
    height: 90vh; 
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(112, 87, 193);
    color: white; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

